.ArmGameScreen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Instructions {

        min-width: 750px;

        .TitleAndIcons {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            overflow: hidden;
        

            h1 {
                margin: 5px 0px 5px 0px;
            }

            .HeaderSolverIcon {
                width: 60px;
                height: 60px;
            }
        }

        .DetermineObjective {
            width: calc(100% - 45px);
            padding: 2px 5px 2px 5px;
        }

        // Horizontal
        .HorizontalSections {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-bottom: 30px;
            text-align: center;

            h1, p, h3 {
                width: 100%;
            }

            h3 {
                padding-left: 8px;
            }

            .ant-btn {
                width: 162px;
                text-wrap: wrap;
                height: fit-content;
                margin-bottom: 10px;
                span {
                    text-wrap: wrap;
                }
            }

            .CompletedComponent {
                background: green;
                color: white;
            }

            // .Architecture {

            // }

            .Components {

                .ant-btn-primary.CompletedComponent {
                    border: 1px solid blue;
                }
            }

            .SolverSelection {
                p {
                    margin-top: 0px;
                    margin-bottom: 10px;
                }

            
                .SelectedSolverImage {
                    width: 100px;
                    height: 100px;
                }

                .ComponentAndSolver {
                    border: 1px solid transparent;
                    width: 250px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .Chevron {
                        width: 50px;
                        height: 50px;
                    }

                    .ComponentIcon {
                        width: 100px;
                        height: 100px;
                    }

                    .SolverIcon {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }

        .HorizontalSections > * {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                height: 50px;
            }
        }

        .Actions {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }

    .SolverImage {
        width: 120px;
        height: 120px;
    }
}