.ArmExperimentResults {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    .Instructions {
        min-width: 860px;

        .ButtonRow {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }

    // .ant-table-wrapper  {
    //     min-width: 1300px;
    // }

    .ChartJSCanvas {
        min-width: 900px;
    }
}