.ArmExperimentGame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Instructions {

        h1 {
            margin: 5px 0px 5px 0px;
        }

        // Horizontal
        .HorizontalSections {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-bottom: 30px;
            text-align: left;

            h1, p {
                width: 100%;
            }

            .ant-btn {
                width: 160px;
                text-wrap: wrap;
                height: fit-content;
                margin-bottom: 10px;
                span {
                    text-wrap: wrap;
                }
            }

            // .Architecture {

            // }

            // .Components {

            // }

            .SolverSelection {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                p {
                    text-align: center;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                .SelectedSolverImage {
                    width: 100px;
                    height: 100px;
                }
            }
        }

        .HorizontalSections > * {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                height: 50px;
            }
        }

        .Actions {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }

    .SolverImage {
        width: 120px;
        height: 120px;
    }

    .ComponentImage {
        width: 120px;
        height: 120px;
    }
}