.Home {

    .Contents {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: left;

        .Hero {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 0px 0px 0px;
            width: calc(100% - 40px);
            background-image: url("../../Assets/Hero/colorful-course.jpg");
            background-size: cover;
            height: calc(100vh - 170px);
            padding: 5px 20px 5px 20px;
        }

        // .PictogramBlue {
        //     background-image: url("../../Assets/Hero/pictogram-blue.jpg");
        //     background-size: cover;
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     width: 50%;
        //     height: 50%;
        // }

        // .PictogramGreen {
        //     background-image: url("../../Assets/Hero/pictogram-green.jpg");
        //     background-size: cover;
        //     position: absolute;
        //     bottom: 0;
        //     right: 0;
        //     width: 80%;
        //     height: 51%;
        // }

        // .PictogramPink {
        //     background-image: url("../../Assets/Hero/pictogram-pink.jpg");
        //     background-size: cover;
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     width: 51%;
        //     height: 100%;
        // }

        // .PictogramOrange {
        //     background-image: url("../../Assets/Hero/pictogram-orange.jpg");
        //     background-size: cover;
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     width: 51%;
        //     height: 50%;
        // }

        .WelcomeCard {
            min-width: 300px;
            background-color: whitesmoke;
            border-radius: 10px;
            padding: 5px 15px 5px 15px;
            z-index: 1;
            text-align: center;
        }

        .DialogCard {
            width: 60%;
            min-width: 300px;
            background-color: whitesmoke;
            border-radius: 10px;
            box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
            padding: 5px 20px 5px 20px;
        }

        .BeginGameCard {
            text-align: center;
        }

        .BeginButtons {
            display: flex;
            justify-content: space-evenly;
            padding: 35px 0px 35px 0px;
        }

        .CollapsableTitle {

            border-bottom: 2px solid whitesmoke;

            &:hover {
                cursor: pointer;
                border-bottom: 2px solid black;
            }
        }

        .ChevronIcon {
            width: 22px;
            height: 22px;
            padding-left: 20px;
        }

        .CollapsableSection {
            overflow: hidden;
            transition: max-height 0.25s linear;
        }
    }
}