.Home {
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-height: fit-content;
    min-width: fit-content;
    background-color: rgb(148, 193, 208); 

    .Contents {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: left;
        padding-top: 45px;

        .WelcomeCard {
            width: 50%;
            min-width: 300px;
            background-color: whitesmoke;
            border-radius: 10px;
            box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
            padding: 5px 20px 5px 20px;
        }

        .DialogCard {
            width: 50%;
            min-width: 300px;
            background-color: whitesmoke;
            border-radius: 10px;
            box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
            padding: 5px 20px 5px 20px;
        }

        .BeginGameCard {
            text-align: center;
        }

        .BeginButtons {
            display: flex;
            justify-content: space-evenly;
            padding: 35px 0px 35px 0px;
        }

        .CollapsableTitle {

            border-bottom: 2px solid whitesmoke;

            &:hover {
                cursor: pointer;
                border-bottom: 2px solid black;
            }
        }

        .ChevronIcon {
            width: 22px;
            height: 22px;
            padding-left: 20px;
        }

        .CollapsableSection {
            overflow: hidden;
            transition: max-height 0.25s linear;
        }
    }
}