.TypedMessage {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    overflow: auto;

    .ModalBody {
        background-color: white;
        border: 3px solid black;
        color: black;
        border-radius: 10px;
        padding: 40px;
        z-index: 12;
        margin: 100px 20px 100px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 700px;
        text-align: left;
        // TODO may want a fun text for typewrighter messages.

        p {
            text-align: left;
            text-wrap: wrap;
            width: 400px;
            font-family: 'typewriter';
            font-size: large;
        }

        .ModalButtons {
            display: flex;
            justify-content: space-evenly;
        }
    }
}