// Rules for entire app can be created here
.ant-btn {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

.ant-input {
  border: 1px solid black;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
}

.Clickable {

  &:hover {
    cursor: pointer;
  }
}