.Router {
    position: relative;
    top: 60px;
    min-height: calc(100vh - 60px);
    height: fit-content;
    width: 100%;
    min-width: fit-content;
    background-color: rgb(201, 220, 225); 
    z-index: 1;
}